<p-toast />
<div class="form-container">
  <h1>Login</h1>
  <p>Welcome back, please login to your account</p>
  <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
    <p-float-label variant='on'>
      <input pInputText name="email" formControlName="email" fluid>
      <label for="email">Email</label>
    </p-float-label>

    <p-float-label variant='on'>
      <input pInputText name="password" formControlName="password" fluid>
      <label for="password">Password</label>
    </p-float-label>
    <p-button fluid type="submit" label="Login" [disabled]="loginFormGroup.invalid" />
  </form>
</div>
