<div class="edit-form">
  <form
    [formGroup]="editFormGroup"
    (ngSubmit)="saveChanges()"
  >
    <div>
      <p-float-label variant="on">
        <input
          pInputText
          formControlName="name"
          id="name"
          fluid
        />
        <label for="name">{{ strings.NAME }}</label>
      </p-float-label>
      <div class="error-container">
        @if (editFormGroup.get('name')?.invalid && editFormGroup.get('name')?.touched) {
          <p class="error-message">{{ strings.NAME_REQUIRED }}</p>
        }
      </div>
    </div>

    <div>
      <p-float-label variant="on">
        <p-select
          formControlName="role"
          id="role"
          fluid
          appendTo="body"
          [options]="roles"
        />
        <label for="role">{{ strings.ROLE }}</label>
      </p-float-label>
      <div class="error-container">
        @if (editFormGroup.get('role')?.invalid && editFormGroup.get('role')?.touched) {
          <p class="error-message">{{ strings.ROLE_REQUIRED }}</p>
        }
      </div>
    </div>

    <p-button
      label="{{ strings.SAVE_CHANGES }}"
      icon="pi pi-check"
      type="submit"
      [disabled]="editFormGroup.invalid"
    ></p-button>
  </form>
</div>